process_BPEL/servicesBancaires/bpelContent/ValidationCheque.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://deployement.validationWS"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://deployement.validationWS">
	<wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://deployement.validationWS">
			<xs:element name="validerCheque">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="montantCheque" type="xs:double" />
						<xs:element minOccurs="0" name="soldeDisponible" type="xs:double" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validerChequeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:double" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="validerChequeRequest">
		<wsdl:part name="parameters" element="ns:validerCheque" />
	</wsdl:message>
	<wsdl:message name="validerChequeResponse">
		<wsdl:part name="parameters" element="ns:validerChequeResponse" />
	</wsdl:message>
	<wsdl:portType name="ValidationChequePortType">
		<wsdl:operation name="validerCheque">
			<wsdl:input message="ns:validerChequeRequest" wsaw:Action="urn:validerCheque" />
			<wsdl:output message="ns:validerChequeResponse"
				wsaw:Action="urn:validerChequeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ValidationChequeSoap11Binding" type="ns:ValidationChequePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="validerCheque">
			<soap:operation soapAction="urn:validerCheque" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ValidationChequeSoap12Binding" type="ns:ValidationChequePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="validerCheque">
			<soap12:operation soapAction="urn:validerCheque"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ValidationChequeHttpBinding" type="ns:ValidationChequePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="validerCheque">
			<http:operation location="validerCheque" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ValidationCheque">
		<wsdl:port name="ValidationChequeHttpSoap11Endpoint"
			binding="ns:ValidationChequeSoap11Binding">
			<soap:address
				location="http://localhost:8091/ValidationWS/services/ValidationCheque.ValidationChequeHttpSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ValidationChequeHttpSoap12Endpoint"
			binding="ns:ValidationChequeSoap12Binding">
			<soap12:address
				location="http://localhost:8091/ValidationWS/services/ValidationCheque.ValidationChequeHttpSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ValidationChequeHttpEndpoint" binding="ns:ValidationChequeHttpBinding">
			<http:address
				location="http://localhost:8091/ValidationWS/services/ValidationCheque.ValidationChequeHttpEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
